.flip-container {
  position: relative;
  height: 100%; /* need both height & min-height to be 100% for child to stretch */
  min-height: 100%;
  /*-webkit-perspective: 1000;*/
}

.flip-page {
  position: absolute;
  width: 100%;
  min-height: 100%; /* to stretch to vertical height */
  /*-webkit-transform-style: preserve-3d;*/
  /*-webkit-transition: -webkit-transform 1s;*/
}