/* General */

body {
  background-color: #383838;
  color: #242001;
  font-size: 2em;
}

/* Hymn nav components */

.hymn-nav {
  background-color: #e5e5c7;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: sans-serif;
}

.hymn-btn {
  background-color: #e5e5c7;
  margin-top: 5px;
  margin-bottom: 5px;
}

.hymn-book {
  font-variant: small-caps;
}

.hymn-input {
  background-color: #ededdf;
}

.hymn-number-display {
  text-align: right;
  padding: 0.5em 0.5em 0.5em 0.5em;
  max-width: 5em;
  float: right;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: medium;
  font-variant: small-caps;
}

.hymn-text-input {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16px; /* required for iOS to not zoom */
}

.hymn-text-input::-webkit-input-placeholder {
  padding-top: 0.2em;
  font-weight: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
}
.hymn-text-input::-moz-placeholder {
  font-weight: normal;
  line-height: 1;

  -moz-osx-font-smoothing: grayscale;
}
.hymn-text-input:-ms-input-placeholder {
  padding-top: 0.2em;
  font-weight: normal;
  line-height: 1;
}

.hymn-text-input ~ .tt-dropdown-menu {
  background-color: #ededdf;
}

/* Typeahead components */

.hymn-suggestion-book {
  font-family: sans-serif;
  font-variant: small-caps;
  color: #999;
  float: right;
  margin-left: 2em;
  margin-right: 2em;
}

.hymn-suggestion {
  background-color: #e5e5c7;
  margin-top: 2px;
  margin-bottom: 2px;
  cursor: pointer;
}
.hymn-suggestion:hover,
.hymn-suggestion:focus {
  background-color: #ededdf;
}

.hymn-suggestion-line {
  font-family: serif;
  font-size: 1.4em;
}
.hymn-suggestion-line strong {
  /*background-color: #77773b;*/
  /*color: #ededdf;*/
  text-decoration: underline;
  /*text-decoration-style: wavy;*/
  font-weight: normal;
}

.hymn-suggestion-number {
  color: #999;
  float: right;
  position: relative;
  bottom: -0.2em;
  margin-left: 0.5em;
}

/* Greetings page components */

#hymn-greeting {
  font-size: 300%;
  font-variant: small-caps;
  text-align: center;
  margin-top: 3em;
}

/* Hymn page components */

.hymn-page {
  background-color: #e5e5c7;
  font-family: serif;
  padding-top: 0.5em;
  padding-bottom: 1em;
  padding-left: 10px;
  padding-right: 10px;
}

.hymn-category {
  margin-left: 1.5em;
  margin-right: 1.5em;
  text-align: center;
  font-variant: small-caps;
}

.hymn-title {
  font-weight: bold;
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.hymn-meter {
  text-align: center;
  font-size: small;
  margin: 0;
}

.hymn-song {
  display: table;
  margin: 0 auto 0.75em auto;
}

.hymn-section {
  display: table-row;
}

.hymn-verse-number {
  display: table-cell;
  text-align: center;
  padding: 0.5em 0em 0em 0em;
}

.hymn-verse,
.hymn-chorus {
  display: table-cell;
  padding: 0.5em 0em 0.5em 0.5em;
}

.hymn-chorus {
  padding-left: 1.25em;
}

.hymn-verse > p,
.hymn-chorus > p {
  margin: 0;
  padding-left: 1em;
  text-indent: -1em;
}

.hymn-verse {
}

.hymn-chorus {
  font-style: italic;
}

.hymn-note {
  display: block;
  max-width: 600px;
  text-align: center;
  font-size: small;
  font-style: italic;
  margin: 2em auto 0.5em auto;
}

.hymn-authorship {
  max-width: 600px;
  font-size: small;
  margin: 1.5em auto 0 auto;
}

.hymn-author {}

.hymn-author-type {
  padding-right: 2em;
  text-align: right;
}

.hymn-author-name {
  padding-left: 0em;
  text-align: left;
  font-variant: small-caps;
}