/* General */

body {
  background-color: #e5e5c7;
  /*background-color: #000;*/
}

.container {
  font-family: serif;
}

/* Bootstrap components */

.navbar-default-hymn {
  background-color: #e5e5c7;
  margin-bottom: 0;
  border: none;
  /*box-shadow: 0px 0px 3px 0px;*/
}

.navbar-toggle-hymn {
  border: none;
}

.navbar-default-hymn .navbar-toggle-hymn:hover,
.navbar-default-hymn .navbar-toggle-hymn:focus {
  background-color: #dedebc;
}

.navbar-default-hymn .navbar-collapse-hymn {
  /*border-top: 1px solid #dedebc;
  border-bottom: 1px solid #dedebc;*/
  border: none;
}

.nav-hymn {
  text-align: right;
  font-family: sans-serif;
}

/* Hymnal components */

#hymn-greeting {
  font-size: 300%;
  font-variant: small-caps;
  text-align: center;
  margin-top: 3em;
}

#hymn-page {
  margin-top: 0.5em;
  /*margin-top: calc(1em + 70px); /* 70px for fixed navbar */
  margin-bottom: 1em;
}

#book-name {
  font-family: sans-serif;
  font-variant: small-caps;
}

#book-number {
  font-family: sans-serif;
  font-size: 90%;
  margin-left: auto;
  margin-right: auto;
}

#number-search-input {
  background-color: #ededdf;
  font-family: sans-serif;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 3.75em;
  padding-left: 0.2em;
}

.hymn-category {
  margin-left: 1.5em;
  margin-right: 1.5em;
  text-align: center;
  /*font-style: italic;*/
  font-variant: small-caps;
}

.hymn-title {
  font-weight: bold;
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.hymn-meter {
  text-align: center;
  font-size: small;
  margin: 0;
}

.hymn-song {
  display: table;
  margin: 0 auto 0.75em auto;
  font-size: large;
}

.hymn-section {
  display: table-row;
}

.hymn-verse-number {
  display: table-cell;
  text-align: right;
  padding: 0.75em 0.5em 0.75em 0.25em;
}

.hymn-verse,
.hymn-chorus {
  display: table-cell;
  padding: 0.75em 0.25em 0.75em 0.5em;
}

.hymn-verse > p,
.hymn-chorus > p {
  margin: 0;
  padding-left: 1em;
  text-indent: -1em;
}

.hymn-verse {
}

.hymn-chorus {
  font-style: italic;
}

.hymn-note {
  display: block;
  max-width: 600px;
  text-align: center;
  font-size: small;
  font-style: italic;
  margin: 2em auto 0.5em auto;
}

.hymn-authorship {
  max-width: 600px;
  font-size: small;
  margin: 1.5em auto 0 auto;
}

.hymn-author {}

.hymn-author-type {
  padding-right: 2em;
  text-align: right;
  font-variant: small-caps;
}

.hymn-author-name {
  padding-left: 0em;
  text-align: left;
  font-style: italic;
}