/* General structure */

html, body {
  height: 100% !important; /* for hymn page to stretch to fill height */
}

/* Turn off number input spinners */

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] {
  -moz-appearance:textfield;
}

/* Page flipping */

.flip-container {
  position: relative !important;
  /* need both height & min-height to be 100% for child to stretch */
  height: 100% !important;
  min-height: 100% !important;
}

.flip-page {
  position: absolute !important;
  width: 100% !important;
  min-height: 100% !important; /* to stretch to vertical height */
}